.container {
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  min-height: 100vh;
  background-size: 20%;
  background-image: url(/public/images/background2.jpg);
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.container::before {
  content: '';
  position: fixed;
  width: 100%;
  min-height: 100%;
  background-color: rgba(var(--background-color), 0.9);
  z-index: -1;
}

.imgContainer {
  flex: 1 1 auto;
  margin: 0 auto;
  min-width: 75%;
  max-width: 76%;
  border-radius: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.errorImg {
  width: 100%;
}
